@using ShauliBlog.Utils;

@model IEnumerable<ShauliBlog.Models.Post>

@{
    ViewBag.Title = "Index";
}
<div id="mainContent">
    <h2>Posts Manager</h2>

    <h4><u> Search:</u></h4>
    <form asp-controller="Posts" asp-action="Index">
        <p>
            Title: @Html.TextBox("SearchString") <br/>
            Has Video: @Html.CheckBox("HasVideo") <br/>
            Has Picture: @Html.CheckBox("HasPicture") <br/>
            Has Comments: @Html.CheckBox("HasComments") <br/>
            <input type="submit" value="Filter" />
        </p>
    </form>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Headline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Headline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Comments", "Details", "PostComments", new { Postid = item.Id }, null)
                </td>
            </tr>
        }

    </table>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @Html.ActionLink("Join all Posts with Comments by PostID", "JoinByPost")<br />
    @Html.ActionLink("Join all Posts with Comments by Author", "JoinByAuthor")<br />
    @Html.ActionLink("Group by web page", "GroupByWebpage") <br /> <br />
</div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1430555593718002',
      xfbml      : true,
      version    : 'v2.10'
    });
    FB.AppEvents.logPageView();

    FB.getLoginStatus(function (response) {
        if (response.status === 'connected') {
            console.log('Logged in.');
        }
        else {
            FB.login();
        }
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function checkLoginState() {
      FB.getLoginStatus(function (response) {
          statusChangeCallback(response);
      });
  }

  var fbPagePost = function () {
      debugger
      FB.api('/v2.10/500529936789725/feed', "POST", { access_token: pac, message: $("#postText").val() }, function (response) {
          console.log(JSON.stringify(response));
      });
  }
</script>
<br />
<div class="fb-like" data-href="https://www.facebook.com/haparlament/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div> <br /><br />
<div class="fb-share-button" data-href="http://www.mako.co.il/mako-vod-keshet/parliament" data-layout="button_count" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.mako.co.il%2Fmako-vod-keshet%2Fparliament&amp;src=sdkpreparse">Share</a></div><br />