@using ShauliBlog.Models

@model  Comment

@*********** New Comment *********@
@using (Ajax.BeginForm("Create", "Comment", new AjaxOptions()
{
    HttpMethod = "Post",
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PostId)
    <h3>Post a comment</h3>
        <p>
            @Html.DisplayNameFor(model => model.Headline)
            @Html.TextBoxFor(model => model.Headline)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Author)
            @Html.TextBoxFor(model => model.Author)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.AuthorWebsiteAddress)
            @Html.TextBoxFor(model => model.AuthorWebsiteAddress)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Content)
            @Html.TextBoxFor(model => model.Content)
        </p>
        <p><input type="submit" value="Post comment" /></p>
}

