@using ShauliBlog.Models;
@using ShauliBlog.Utils;
@using ShauliBlog.Controllers;

@model List<BlogVisitorModel>

@{
    ViewBag.Title = "index";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>

    <div id="mainContent">
        <div>
            <div id="search">
                <h4><u> Search:</u></h4>
                <form asp-controller="Blog" asp-action="Index">
                    <p>
                        Title: <input type="text" name="SearchString">
                        <input type="submit" value="Filter" />
                    </p>
                </form>
            </div>
            
            
            <script>
                window.fbAsyncInit = function() {
                    FB.init({
                        appId      : '1430555593718002',
                        xfbml      : true,
                        version    : 'v2.10'
                    });
                    FB.AppEvents.logPageView();

                    FB.getLoginStatus(function (response) {
                        if (response.status === 'connected') {
                            console.log('Logged in.');
                        }
                        else {
                            FB.login();
                        }
                    });
                };

                (function(d, s, id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));

                function checkLoginState() {
                    FB.getLoginStatus(function (response) {
                        statusChangeCallback(response);
                    });
                }

                var fbPagePost = function () {
                    debugger
                    FB.api('/v2.10/500529936789725/feed', "POST", { access_token: pac, message: $("#postText").val() }, function (response) {
                        console.log(JSON.stringify(response));
                    });
                }
            </script>
            <br />
            <div class="fb-like" data-href="https://www.facebook.com/haparlament/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div> <br /><br />
            <div class="fb-share-button" data-href="http://www.mako.co.il/mako-vod-keshet/parliament" data-layout="button_count" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.mako.co.il%2Fmako-vod-keshet%2Fparliament&amp;src=sdkpreparse">Share</a></div><br />


            <br/>
            

            <div id="parlamentMap">
                <div id="map"></div>
                <script>
                    function initMap() {

                        var center = { lat: 32.0878408, lng: 34.7781465 };
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 10,
                            center: center
                        });


                       @foreach (MapMarker i in ViewBag.markers) {
                                <text>
                                var marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(@i.Lat,@i.Lng),
                                    label: "@i.Label",
                                    map: map
                        });
                        </text>
                           }
                    }


                </script>
                
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtmBTYqNBZKGeRSLdeVH9bWykAdQwdcK4&callback=initMap">
                </script>

            </div>

            @foreach (BlogVisitorModel item in Model)
                        {

                @*********** Post *********@
                <section>
                    <article class="blogPost">
                        <header>
                            <h2>@Html.DisplayFor(model => item.Headline)</h2>

                            <p>Posted on <time> @Html.DisplayFor(model => item.PublishDate)</time> by <a href="@item.AuthorWebsiteAddress">@Html.DisplayFor(model => item.Author)</a> - <a href="#comments">@(item.Comments != null ? item.Comments.Count : 0) comments</a></p>
                        </header>
                        <div>

                            <p>@Html.DisplayFor(model => item.Content)</p>

                        <input type="button" value="translate" class="translate"/>

                            @Html.DisplayImageFor(model => item.Image)

                            @Html.DisplayVideoFor(model => item.Video)
                          
                        </div>
                    </article>
                </section>

                @*********** Comment *********@

                <section id="comments">
                    <h3>Comments</h3>

                    @foreach (Comment comment in item.Comments)
                    {
                        <article>
                            <header>
                                <a href="#">@Html.DisplayFor(model => comment.Author)</a> on <time> @Html.DisplayFor(model => item.PublishDate) </time>
                            </header>
                            <p>@Html.DisplayFor(model => comment.Content)</p>
                        </article>
                    }

                </section>
                
                @Html.Partial("~/Views/Blog/AddComment.cshtml", item.NewComment)
            }
        </div>
    </div>

<script src="~/Scripts/custom/translate.js"></script>



